.biglist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.biglist .biglistItem {
  position: relative;
  margin-bottom: 10px;
}
.biglist .content {
  border-radius: 5px;
  padding: 25px;
  background-color: white;
}
.biglist .biglistItem:hover .actions {
  display: flex;
}
.biglist .actions button:hover{
  opacity: .6;
  color: rgb(18 164 211);
}
.biglist .actions {
  display: none;
  gap: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
  height: 50px;
  padding: 10px;
}

.biglist .actions button {
  padding: 7px 12px;
  font-size: 12px;
  color: black;
  background-color: transparent;
}
.biglist .content.highlight {
  box-shadow: inset 0px 0px 0px 2px #efc740;
}

.biglist .actions button.highlight {
  color: #efc740;
}
.biglist .biglist-header {
  display: flex;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  margin-bottom: 10px;
}

.biglist .options {
  justify-self: flex-end;
}
.biglist .title {
  flex-grow: 1;
}

.biglist .biglistItem:hover .content {
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgb(255, 214, 230);
}

.biglist .biglistItem.selected .content{
  border-left: 5px solid rgb(18 164 211);
}
