.menu{
    display: flex;
        flex-wrap: wrap;
        min-height: 50px;
    line-height: 50px;
    position: sticky;
    top: 50px;
    z-index: 9999;
    background-color: black;
    box-shadow: 0px 10px 5px darkgrey;
    margin-bottom: 20px;
}

.menu ul{
    flex-shrink: 0;
    list-style: none;
    padding: 0;
        margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: white;
}
.menu ul li:hover>ul {
    display: flex;
        flex-direction: column;
}

.menu ul ul {
flex-direction: column;
    display: none;
    box-shadow: 0px 10px 5px darkgrey;
    position: absolute;
    background-color: rgb(32, 32, 32);
}
.routes{
    flex-grow: 1;
}
.extra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.extra li{
    float: left;
    margin-right: 10px;
}

.routes li{
    float: left;
    padding-right: 10px;
}

.menu li a:link, .menu li a:visited{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    color: rgba(256,256,256,.7);
}

.wrapper{
    padding: 10px;
}

.logo{
    margin-left: 10px;
    color: aquamarine;
}

select{
    padding: 5px;
    border-radius: 3px;
}